.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: 4px 5px 19px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 4px 5px 19px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 5px 19px -2px rgba(0,0,0,0.2)
}

.chartTitle {
  margin-bottom: 20px;
}